body {
    font-family: var(--font-family);
    margin: 0 !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 22px 0px;
}

h2 {
    margin: 0px;
    margin-bottom: 19px;
}

p,
button,
a,
input,
td,
th {
    font-size: 16px;
}

a {
    color: var(--color-main-2);
    font-weight: bold;
    text-decoration: none;
}

hr {
    margin: 19px 0px;
}