#typeSearch {
    width: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#typeSearch button {
    margin-top: 0;
    margin-bottom: 19px;
    border: 0px;
    background-color: transparent;
}

#textSearch, #numberSearch {
    margin: 0px;
}

.boxSearch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 !important;
    
}

.boxSearch div {
    margin: 0px 10px;
}

#numberSearch input[type="number"] {
    width: 15vh;
}

#numero {
    font-weight: normal;
}