<header>
    <div class="center">
        <a href="/listar">
            <button class="a-header">
                <%- include('./titulo', { titulo: "GERENCIADOR DE PATRIMÔNIOS" }) %>
            </button>
        </a>
    </div>

    <div class="center">
        <div class="buttons">
            <a href="/listar"><button class="secondary">Listagem de Patrimônios</button></a>
            <a href="/escanear"><button class="secondary">Escanear Patrimônio</button></a>
            <a href="/importar"><button class="secondary">Importar Patrimônios</button></a>
            <a href="/exportar"><button class="secondary">Exportar Patrimônios</button></a>
            <a href="/imprimir"><button class="secondary">Imprimir Patrimônios</button></a>
            <a href="/registros"><button class="secondary">Registros</button></a>
            <a href="/sair"><button class="secondary">Sair</button></a>
        </div>
    </div>

    <hr>
    
</header>